.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width:100%;
}


/*FOOTER*/


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
