
<header>
  <mat-toolbar color="primary">
    <button (click)="goHome()" mat-raised-button color="primary">{{ 'home' | translate }}</button>
    <button (click)="goNoutati()" mat-raised-button color="primary">{{ 'news1' | translate }}</button>
    <button (click)="goAbout()" mat-raised-button color="primary">{{ 'about' | translate }}</button>
    <button (click)="goProfil()" mat-raised-button color="primary">{{ 'profile' | translate }}</button>
    <button (click)="goCoordonator()"mat-raised-button color="primary">{{ 'coordinator' | translate }}</button>
    <button (click)="goContact()" mat-raised-button color="primary">{{ 'contact' | translate }}</button>

<div align="right">
  <button (click)="useLanguage('en')" mat-raised-button color="primary" >en</button>
  <button (click)="useLanguage('ro')" mat-raised-button color="primary" >ro</button>
</div>
  </mat-toolbar>
</header>

<div>

  <router-outlet></router-outlet>
</div>

<footer class="footer" id="footer" >
  <div class="container" >
    <div class="content has-text-centered">
      <p>
        Copyright 2020 <a href="https://www.linkedin.com/in/hollo-jozsef/">Hollo Jozsef</a>
      </p>
    </div>
  </div>
</footer>

