

<div class="container-bg">
  <div class="container-text">
    <div class="center">
      <ul>
        <li *ngFor="let item of xmlItems">
          <p>{{item.new | translate}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>




<div align="center">
<video  width="1300" height="700" controls>
  <source src="assets/video.mp4" type="video/mp4">

  </video>
</div>
