<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/1.jpg" alt="Angular Carousel 1">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/2.jpg" alt="Angular Carousel 2">
    </div>
   </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/3.jpg" alt="Angular Carousel 2">
    </div>
    </ng-template>
</ngb-carousel>
